body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

:root {
    --accent-color-accent: #2196F3;
    --title-text-color: #212121;
    --main-text-color: #757575;
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --background-color: #F5F4FA;
    --background-color-light: #E5E5E5;
    --background-color-dark: #2F303A;
    --focus-color-text: #FFFFFF;
    --address-link-color-footer: rgba(255, 255, 255, 0.6);
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

button {
    cursor: pointer;
}

ul, a {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* header */

/* nav */

.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color-accent);
}

.nav span {
    color: var(--title-text-color);
}

.link {
    text-decoration: none;
    color: var(--main-text-color);
    font-style: normal;
}

.link:hover, .link:focus {
    color: var(--accent-color-accent)
}

/* header-list */

.logo-list {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.logo-list:hover, .logo-list:focus {
    color: var(--accent-color-accent)
}

/* footer */

.footer {
    background: var(--background-color-dark);
}

.footer span {
    color: var(--background-color);
}


.colfoot {
    color: var(--address-link-color-footer);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}



.address {
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--focus-color-text);
    margin: 0;
}

/* main secion2 */

.caption-our-team {
    font-family: var(---main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

.title-our-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}

.subtitle-our-team {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-text-color)
}

/* main section 1 */

.pic-backround {
    background-image: url(../images/Bg.jpg);
}

.pic-backround-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--focus-color-text);
}

/*  кнопка Заказать услугу */

.main-button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--focus-color-text);
    background-color: var(--accent-color-accent);
    cursor: pointer;
}

/* секция  примеры наших работ */

.section-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.section-subtitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden
}

/* page  portfolio */

.logo-list span {
    color: var(--accent-color-accent);
}

/* секция  примеры наших работ */

.portfolio-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-subtitle {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.btn {
    background: var(--background-color);
    color: var(--title-text-color);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: var(--accent-color-accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--focus-color-text);
    border: none;
}